<section class="py-10">
    <div class="container flex justify-center">
        <div class="flex">
            <div >
                <label>FirstName:</label>
                <input type="text" />
                <label>LastName:</label>
                <input type="text" />
            </div>
        </div><br>
        <div class="flex">
            <div>
                <label>Email: </label>
                <input type="text"/>
                <label>Phone No.: </label>
                <input type="text"/>
            </div>
        </div><br>
        <div class="flex">
            <div>
                <label>Address: </label>
                <input type="text"/>
                <label>Pin-Code: </label>
                <input type="text"/>
            </div>
        </div>
    </div>

</section>